<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>@<%= page_user.username %></title>
        <meta name='description' content=''>
        <meta name='author' content='Pedro Camata Andreon'>

        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <!-- Fonts -->
        <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

        <!-- Skeleton -->
        <link rel='stylesheet' href='../vendor/Skeleton-2.0.4/normalize.css'>
        <link rel='stylesheet' href='../vendor/Skeleton-2.0.4/skeleton.css'>

        <!-- Custom -->
        <link rel='stylesheet' href='../css/page.css'>

        <!-- Favicon 
<link rel='icon' type='image/png' href='../img/'>-->
    </head>

    <body>
        <div id="navbar" class="row">
            <div class="container">
            <a class="left-side" href="/page/all">Feed</a>
                <% if(!isLogged) { %>
                    <a class="left-side" href="/login">Login</a>
                    
                <% } else { %>
                    <a class="left-side" href="/page/<%= user.username %>">Home</a>
                    <a class="right-side" href="/logout">Logout</a>
                <% } %>
                <span class="search">
                    <form method="POST" action="/api/page" >
                        <input type="search" name="search_user" placeholder="Search name or hashtag"/>
                        <input type="submit" style="display: none"/>
                    </form>
                </span>
            </div>
        </div>

        <div id="page-head" class='row'>
            <div class="container">

                <div class="twelve columns">
                    <h1>@<%= page_user.username %></h1>
                    <h2><%= page_user.firstname + " " + page_user.lastname%></h2>
                </div>
            </div>
        </div>

        <div class='container'>

            <% if(isOwner) { %>
                <div class="row send-box">
                    <div class="twelve columns">
                        <form method="POST" action="/api/post">
                            <textarea class="msg-textarea" name="msg" placeholder="What are you thinking?" maxlength="140" rows="4"></textarea>
                            <button class="button-primary" type="submit">Post</button>
                        </form>
                    </div>
                </div>
            <% } %>


            <h5 class="row post-head">Posts from @<%= page_user.username %></h5>

            <div class="row">
                <% for (let post of posts) { %>
                <post class="twelve columns">
                    <div class="twelve columns header">
                        <a class="username" href="/page/<%= post.username %>">
                            @<%= post.username %>
                        </a>
                        <span class="date">
                            <%= post.date.toLocaleString() %>
                        </span>
                    </div>
                    <div class="twelve columns msg">
                        <%= post.msg %>
                    </div>
                </post>

                <% } %>
            </div>
        </div>
    </body>

</html>